section.all-tweets {
  width: 100%;
}

article {
  border-style: solid;
  border-width: thick;
  color: black;
  margin-top: 50px;
  padding: 20px;
}

article:hover {
  box-shadow: 5px 5px 0 #646466;
}

article header {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

article header img {
  height: 2em;
}

article header span.name {
  height: 3em;
  font-weight: bold;
}

article header span.handle {
  margin-left: auto;
  color: black;
}

article header span {
  padding: 10px;
}


article span.tweet_text {
  padding: 10px;
  overflow-wrap: break-word;
  font-size: large;
  justify-content: flex-start;
}

article footer {
  border-style: none;
  border-top-style: solid;
  border-width: thick;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-top: 5px;
 }

 article footer span.date_stamp {
  font-size: 15px;
}


 article footer span i {
   font-size: 15px;
 }
 article footer span i:hover {
   color: #bfbfc0;
 }