/* NAV BAR STYLE*/
nav {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  height: 120px;
  z-index: 400;
  background-color: #37A1D3;
  color: white;
  padding: 1.5em;
  flex-direction: row;
  justify-content: space-between;
}

/* NAV TITLE STYLE*/
#title {
  font-family: 'Bungee', sans-serif;
  color: #FFFF;
  font-size: 2em;
  float: left;
}

/* NEW TWEET */
#write-new {
  float: right;
  right: 1.5em;
  top: 1.5em;
  color: #FFFF;
}

button {
  background-color: transparent;
  position: absolute;
  right: 3em;
  top: 2.5em;
  bottom: 1.5em;
  color: #FFFF;
  border-style: none;
  cursor: pointer;
  outline: none;
  animation-name: bounce;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

/* ANIMATION PROPERTIES */
@keyframes bounce {
  from {
    padding: 0px;
  }
  to {
    padding: 5px;
  }
}

@media (max-width: 1200px) {
  nav {
    background-color: #37A1D3;
  }
}