/* NAV BAR STYLE*/
nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100vw;
  background-color: #37A1D3;
  padding: 1.5em;
}

/* NAV TITLE STYLE*/
nav span:nth-child(1) {
  font-family: 'Bungee', cursive;
  color: #FFFF;
  font-size: 2em;
  float: left;
}

/* NEW TWEET */
nav span:nth-child(2) {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  color: #FFFF;
}

nav i {
  position: absolute;
  right: 1.5em;
  bottom: 1.5em;
  color: #FFFF;
}