/* NAV BAR STYLE*/
nav {
  height: 120px;
  width: 100vw;
  color: #FFFF;
  background-color: #37A1D3;
  padding: 1.5em;
  position: fixed;
}

/* NAV TITLE STYLE*/
nav span:nth-child(1) {
  font-family: 'Bungee', cursive;
  float: left;
}

nav span:nth-child(2) {
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}

nav i {
  position: absolute;
  right: 1.5em;
  bottom: 1.5em;
  color: #FFFF;
}