.new-tweet {
  display: none;
}

/*Error Message*/
.new-tweet p {
  padding: 15px;
  background-color: transparent;
  color: red;
  border-radius: 15px red;
  display: none;
  text-align: center;
  margin-top: 0px;
}

/*Input area*/
.new-tweet textarea {
  background-color:  #f4f1ec;
  width: 100%;
  height: 45px;
  border: 0;
  border-bottom-style: 4 px solid black;
  font-weight: 700;
  resize: none;
  outline: none;
  color: black;
}

.new-tweet input {
  font-family: Bungee, sans-serif;
  background-color: #f4f1ec;
  color: black;
  outline: none;
  margin-top: 10px;
  border: 1px black
}

span.counter {
  font-family: Bungee, sans-serif;
  color: black;
  float: right;
  margin-top: 14px;
}

.over {
  color: red;
}